
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Rubic-Bold';
  src: url('../assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-ExtraBold';
  src: url('../assets/fonts/Rubik/Rubik-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('../assets/fonts/Rubik/Rubik-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rubik-SemiBold';
  src: url('../assets/fonts/Rubik/Rubik-SemiBold.ttf') format('truetype');
}


html {
  font-size: 14px;
  font-family: 'Roboto-Regular';

  @media screen and (min-width: 1024px) {
    font-size: 15px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }

  @media screen and (min-width: 1600px) {
    font-size: 16px;
  }
}

.content {
  margin: auto;
  padding: 20px 32px;

  padding: 48px;
  max-width: 1700px;
}

.card {
  padding: 0;
  border-radius: 0.5rem;
  background-color: #eeeeee;

  .title {
    padding: 20px 27px 15px 27px;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #019879;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;

    span {
      color: white;
      text-transform: capitalize;
    }
  }

  .data-content {
    border-radius: 0 0 0.5rem 0.5rem;
    padding: 20px 20px 30px 20px;
    overflow-x:auto;

    .positive-result {
      color: #00886c;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      text-align: left;
      padding: 8px;
      font-weight: normal;
    }

    .bold-text {
      font-weight: bold;
    }

    tr:nth-child(odd) {
      background-color: #dddddd;
    }

    tr:hover {background-color: rgba(11, 139, 86, 0.226);}
  }

  span {
    color: green;
  }

  .normal-text {
    font-weight: normal;
    color:rgb(247, 247, 247)!important;
  }
}
